:root {
  --color-bg: #f5f5f5;
  --color-bg-2: #eaf2fd;
  --color-tittle: #003566;
  --color-font: #464646;
  --font-tittle: 'Anton', sans-serif;
  --font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font);
  color: var(--color-font);
}

body > *:not(:nth-child(1)):nth-child(odd) {
  background-color: var(--color-bg-2);
}

h1,
h2 {
  color: var(--color-tittle);
}

h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

footer {
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  width: 1200px;
}

/* **************************************** HEADER **************************************** */

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-container a {
  padding-left: 1rem;
  font-size: 1.25rem;
  font-family: var(--font-tittle);
  color: var(--color-tittle);
}

.header-container nav a:hover {
  text-decoration: underline;
}

/* **************************************** MAIN **************************************** */

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 93vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-contenido {
  font-size: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  rotate: -10deg;
}

.main-contenido h1 {
  font-size: 5rem;
}

.main-img {
  width: 300px;
  height: auto;
}

.main-container img {
  border-radius: 50%;
}

/* **************************************** CONTAINERS **************************************** */

.container-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex-basis: 10rem;
  margin: 2rem 5rem;
  text-align: center;
}

.cards-proyectos {
  margin: 2rem;
  border: 0.2rem solid var(--color-tittle);

  width: 30%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards-proyectos * {
  width: 80%;
  height: auto;
}

.img-icon {
  width: 2rem;
}

/* **************************************** FORMULARIO **************************************** */

.contact-form {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type='submit'] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: var(--color-font);
}

.contact-form [required]:valid {
  border: thin solid var(--color-tittle);
}

.contact-form [required]:invalid {
  border: thin solid lightcoral;
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: black;
  color: lightblue;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* **************************************** DOM **************************************** */

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent !important;
  color: var(--color-tittle);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  border: medium solid #003566;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
/* ********************************************** */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  .header-container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .main-container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .main-contenido {
    font-size: 2rem;
  }

  .main-contenido h1 {
    font-size: 3rem;
  }

  .main-img {
    width: 200px;
    height: auto;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .cards-proyectos {
    width: 40%;
    height: 60vh;
  }
}

.panel-phone {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 53, 102, 0.95);
  transition: transform 0.3s ease;
  transform: translate(-100%, 0);
}

.panel-phone.is-active {
  transform: translate(0, 0);
}
.menu-phone {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu-phone a {
  flex-basis: 20vh;

  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  color: var(--color-bg);
}
