:root {
  --color-bg: #f5f5f5;
  --color-bg-2: #eaf2fd;
  --color-tittle: #003566;
  --color-font: #464646;
  --font-tittle: 'Anton', sans-serif;
  --font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font);
  color: var(--color-font);
}

body > *:not(:nth-child(1)):nth-child(odd) {
  background-color: var(--color-bg-2);
}

h1,
h2 {
  color: var(--color-tittle);
}

h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

footer {
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;
  width: 1200px;
}

/* **************************************** HEADER **************************************** */

.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-container a {
  padding-left: 1rem;
  font-size: 1.25rem;
  font-family: var(--font-tittle);
  color: var(--color-tittle);
}

.header-container nav a:hover {
  text-decoration: underline;
}

/* **************************************** MAIN **************************************** */

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 93vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-contenido {
  font-size: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  rotate: -10deg;
}

.main-contenido h1 {
  font-size: 5rem;
}

.main-img {
  width: 300px;
  height: auto;
}

.main-container img {
  border-radius: 50%;
}

/* **************************************** CONTAINERS **************************************** */

.container-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  flex-basis: 10rem;
  margin: 2rem 5rem;
  text-align: center;
}

.cards-proyectos {
  margin: 2rem;
  border: 0.2rem solid var(--color-tittle);

  width: 30%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cards-proyectos * {
  width: 80%;
  height: auto;
}

.img-icon {
  width: 2rem;
}

/* **************************************** FORMULARIO **************************************** */

form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

form * {
  margin-bottom: 1rem;
}

form > input {
  height: 2.5rem;
  margin: 1rem;
  font-size: 1.25rem;
  color: var(--color-tittle);
  text-decoration: none;
  background-color: white;
  border-style: none;
}
form > label {
  margin-bottom: 0;
}

form > textarea {
  margin-top: 1rem;
  border-style: none;
}

form > button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

  width: 15rem;
  height: 2.5rem;

  background-color: lightblue;
  border-style: none;

  cursor: pointer;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-tittle);
}
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--color-tittle);
}
/* **************************************** DOM **************************************** */

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent !important;
  color: var(--color-tittle);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  border: medium solid #003566;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
